{% extends 'main.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/productdetailstyle.css'%}" />
{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class='container'>
        <div class="row">
            <div class='bg-light'>
                <h1> Summary of best-selling products</h1>
            </div>
            <canvas id="barChart"></canvas>
        </div>
        <div class="row">
            <div class='bg-light'>
                <h1> Summary of best-selling products</h1>
            </div>
            <canvas id="lineChart"></canvas>
            <div class="col-4">
                <h3> Total Income : 50000000$</h3>
            </div>
            <div class="col-4">
                <h3> Month Income : 500000$</h3>
            </div>
            <div class="col-4">
                <h3> Year Income : 2500000$</h3>
            </div>
        </div>
        <div class="row">
            <h1 class="my-5 mx-3"> <i class="icon-new-product fa-sharp fa-solid fa-arrow-right fs-2"></i><i class="mx-2">Product</i></h1>
            {% csrf_token %}
            {% for item in page_obj %}
            <div class="col-md-2 col-6 mb-2">
                <div class="position-relative content-col">
                    <a href="ProductDetail.html">
                        <img src="/media/photos/products/{{item.photo_products__name}}">
                    </a>
                    <div class="ribbon new">
                        <div class="theribbon">
                            <p>New</p>
                        </div>
                    </div>
                    {% if item.prices__sale > 0%}
                    <div class="ribbon sale">
                        <div class="theribbon price-sale">
                            <p>-{{item.prices__sale}} %</p>
                        </div>
                    </div>
                    <p class="position-absolute price-value-product"> {{item.prices__price}} đ</p>
                    {% endif %}
                    <div class="text-center content-card">
                        <span id="slug-product-detail-{{item.slug}}" class="d-none">{{item.slug}}</span>
                        <p class="name-product" id="name-product-{{item.slug}}"> {{item.name}}</p>
                        {% if item.sex == 0 %}
                        <p class="sex-product" id="sex-product-{{item.slug}}">All</p>
                        {% endif %}
                        {% if item.sex == 1 %}
                        <p class="sex-product" id="sex-product-{{item.slug}}">Men</p>
                        {% endif %}
                        {% if item.sex == 2 %}
                        <p class="sex-product" id="sex-product-{{item.slug}}">Women</p>
                        {% endif %}
                        <p class="name-product" id="price-total-product-{{item.slug}}"> {{item.prices__price_total}} đ
                        </p>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{item.slug}}">
                            <i class="fa-solid fa-cart-shopping me-2"></i>Add to cart</button>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</main>
<div class="bg-light">{% include 'footer.html' %}</div>
{% endblock %}
{% block javastript %}
{% load static %}
<script src="/static/js/mystore.js"></script>
{% endblock %}